body {
  /*text-align: center;*/
  /*background: url("http://dash.ga.co/assets/anna-bg.png");*/
/*  background-size: cover;
  background-position: center;*/
  /*color: white;*/
  margin: 0;
  border-top: 4px solid #606060;
  font-family: helvetica;
}
div {
  margin: 0 auto;
  width: 600px;
}
h3 {
  margin-top: 20px;
  font-size: 22px;
  height: 40px;
  color: #404040;
}
label {
  color: #505050;
}
button {
  border: 0;
  padding: 5px;
  margin: 15px 5px;
  font-size: 14px;
  background: #606060;
  color: #FFFFFF;
}
