<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="header"><span class="title">Backbone Cellar</span></div>

<div id="sidebar"></div>

<div id="content">
<h2>Welcome to Backbone Cellar</h2>
<p>
This is a sample application part of of three-part tutorial showing how to build a CRUD application with Backbone.js.
</p>
</div>

<!-- Templates -->
<script type="text/template" id="tpl-wine-list-item">
        <a href='#wines/<%= id %>'><%= name %></a>
</script>

<script type="text/template" id="tpl-wine-details">
    <div class="form-left-col">
        <label>Id:</label>
        <input type="text" id="wineId" name="id" value="<%= id %>" disabled />
        <label>Name:</label>
        <input type="text" id="name" name="name" value="<%= name %>" required/>
        <label>Grapes:</label>
        <input type="text" id="grapes" name="grapes" value="<%= grapes %>"/>
        <label>Country:</label>
        <input type="text" id="country" name="country" value="<%= country %>"/>
        <label>Region:</label>
        <input type="text" id="region" name="region"  value="<%= region %>"/>
        <label>Year:</label>
        <input type="text" id="year" name="year"  value="<%= year %>"/>
    </div>
    <div class="form-right-col">
        <img height="300" src="../pics/<%= picture %>"/>
        <label>Notes:</label>
        <textarea id="description" name="description"><%= description %></textarea>
    </div>
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
<script>
  // Your code goes here

  // models
  window.Wine = Backbone.Model.extend();
  window.WineCollection = Backbone.Collection.extend({
    model: Wine,
    url: "../api/wines"
  });

  // views
  window.WineListView = Backbone.View.extend({
    tagName: 'ul',
    initialize: function() {
      this.model.bind("reset", this.render, this);
    },

    render: function(eventName) {
      _.each(this.model.models, function(wine) {
        $(this.el).append(new WineListItemView({model:vine}).render().el);
      }, this);
      return this;
    }
  });

  window.WineListItemView = Backbone.View.extend({
    tagName: 'li',
    template: _.template($('#tpl-wine-list-item').html()),

    render: function(eventName) {
      $(this.el).html(this.template(this.model.toJSON()));
      return this;
    }
  });

  window.WineView = Backbone.View.extend({
    template:_.template($('#tpl-wine-details').html()),
    render:function (eventName) {
      $(this.el).html(this.template(this.model.toJSON()));
      return this;
    }
  });

  // router
  var AppRouter = Backbone.Router.extend({
    routes: {
      "": "list",
      "wines/:id": "wineDetails"
    },
    list: function() {
      this.wineList = new WineCollection();
      this.wineListView = new WineListView({model: this.wineList});
      this.wineList.fetch();
      $('#sidebar').html(this.wineListView.render().el);
    }
  });

  var app = new AppRouter();
  Backbone.history.start();

</script>
</body>
</html>
